body {
            text-align: left;
            margin: 0;
            padding: 0;
            font: normal 15px arial, helvetica, sans-serif;
            background: #AED6F1;

        }
        h1 {
            text-align: center;
            margin: auto;
            font-weight:bold;
            font-size:2.0em;
            text-align: center;
            line-height: 44px;
            display:block;
            font-family: cursive;
            text-decoration: none
            

        }
        a {
          
            margin:0 1px;
            width: 200px;
            font-weight:bold;
            font-size:1em;
            line-height: 20px;
            display:block;
            font-family: cursive;
            text-decoration: none

        }
        table, th {
            margin: auto;
            text-align: center;
            background-color: #FF0000;


        }

        table, td {
            text-align: center;
            margin: auto;
            background-color:#AED6F1;

        }

        th, td {
            text-align: center;
            padding: 15px;
            font-family: cursive;
        }

        th{
              text-align: center;
            padding: 20px;
            font-family: cursive;
            font-size:1.5em;
        }

        